@inherits LayoutComponentBase
@using CourseManagementSystem.Utilities
@inject SchoolTimeService SchoolTime

<PageTitle>Course Management System</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (_currentSchoolYearAndSemester is not null)
            {
                @_currentSchoolYearAndSemester
            }
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>