@using CourseManagementSystem.Models;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="">UNI / CMS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

@if (_user?.IsStaff == true) {
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Semesters">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Semesters
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Classes">
                    <span class="oi oi-people" aria-hidden="true"></span> Classes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Courses">
                    <span class="oi oi-book" aria-hidden="true"></span> Courses
                </NavLink>
            </div>
        </nav>
    </div>
}
else if (_user is not null)
{
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Courses">
                    <span class="oi oi-book" aria-hidden="true"></span> Courses
                </NavLink>
            </div>
        </nav>
    </div>
}

<div class="row text-muted">
    <p>@@ 2023 NXHD.</p>
</div>
