@page "/login"

<PageTitle>CMS - Sign in</PageTitle>

<EditForm Model="@_user" OnValidSubmit="@PerformLogin">
    <DataAnnotationsValidator />
    <p>
        <label>
            Username:
            <InputText class="form-control" @bind-Value="_user.Id"></InputText>
        </label>
    </p>
    <p>
        <label>
            Password:
            <InputText class="form-control" @bind-Value="_user.Password" type="password"></InputText>
        </label>
    </p>
    <button type="submit" class="btn btn-primary">Log in</button>
    <ValidationSummary />
</EditForm>
@if (_invalidCredentials) {
    <div class="alert alert-danger mb-3">Invalid username or password.</div>
}