@inherits LayoutComponentBase
@using CourseManagementSystem.Data
@inject SchoolTimeService SchoolTime

<PageTitle>UNI - Course Management System</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (currentSchoolYearAndSemester != null)
            {
                @currentSchoolYearAndSemester
            }
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string? currentSchoolYearAndSemester;
    private PeriodicTimer timer = new PeriodicTimer(TimeSpan.FromMinutes(1));

    protected override async Task OnInitializedAsync()
    {
        StartClock();
    }

    protected async Task StartClock()
    {
        while (await timer.WaitForNextTickAsync())
        {
            currentSchoolYearAndSemester = await SchoolTime.GetCurrentSemester(DateTime.Now);
            await InvokeAsync(() => StateHasChanged());
        }
    }
}