<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="">UNI / CMS</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="years">
                <span class="oi oi-calendar" aria-hidden="true"></span> School Years
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="semesters">
                <span class="oi oi-timer" aria-hidden="true"></span> Semesters
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="classes">
                <span class="oi oi-people" aria-hidden="true"></span> Classes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="courses">
                <span class="oi oi-book" aria-hidden="true"></span> Courses
            </NavLink>
        </div>
    </nav>
</div>

<div class="row fixed-bottom">
    <p>@@ 2023 nxhd</p>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
